<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.6.1"/>
      <httpRuntime targetFramework="4.6.1"/>

      <authentication mode="Forms">
        <forms loginUrl="PhiPortal/Login.aspx" name="phiPortalAuth" protection="None" timeout="1" path="/"/>
      </authentication>

      <!-- This section denies access to all files in this application except for those that you have not explicitly specified by using another setting. -->
      <!--<authorization>
        <deny users="?" />
      </authorization>-->
    </system.web>
    <!-- This section gives the unauthenticated user access to the Default1.aspx page only. It is located in the same folder as this configuration file. -->
    <!--<location path="Default.aspx">
      <system.web>
        <authorization>
          <allow users ="*" />
        </authorization>
      </system.web>
    </location>-->
    <!-- This section gives the unauthenticated user access to all of the files that are stored in the Subdir1 folder.  -->
    <location path="PhiPortal">
      <system.web>
        <authorization>
          <deny users="?"/>
        </authorization>
      </system.web>
    </location>
  <location path="PhiPortal/EditPages">
    <system.web>
      <authorization>
        <allow users="nhmueth1s"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
      <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>
    </system.webServer>
  <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    </appSettings>
  <connectionStrings>
    <add name="PhiPortalUserDatabase" connectionString="Data Source=LAPTOP-OIDFB91V;Initial Catalog=PhiPortalUserDatabase;Integrated Security=True"/>
  </connectionStrings>
</configuration>
